{% extends 'myapp/base.html' %}
{% block title %}Category Details{% endblock %}
{% block body_block %}
    <section>
        <h2>Category: {{ category.name }}</h2>
        <p>Warehouse: {{ category.warehouse }}</p>

        <h3>Products:</h3>
        {% if products %}
            <ul class="product-list">
                {% for product in products %}
                    <li>{{ product.name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No products available.</p>
        {% endif %}
    </section>
{% endblock %}
